{
    "printWidth": 160,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^react",
        "^react-redux$",
        "^@reduxjs/toolkit",
        "^lodash",
        "^@mui/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@app/components/(.*)$",
        "^@app/modules/(.*)$",
        "^@app/hooks/(.*)$",
        "^@app/(.*)$",
        "^\\.\\./",
        "^\\./"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": [
        "typescript",
        "jsx",
        "decorators-legacy"
    ]
}